APP_NAME=web-dabb
APP_ENV=local
APP_KEY=base64:/lWZS5URymdj4iA+p9DFQ1Lp2y56z5ju8U5ZgBYMx24=
APP_DEBUG=true
APP_URL=http://localhost:8080
ASSET_URL=
APP_PORT=8080
APP_TIMEZONE=UTC

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=host.docker.internal  # IP "ip route show | grep default" di WSL2
DB_PORT=3306
DB_DATABASE=dabb
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# untuk Google OAuth (login dengan Google), bisa didapatkan di https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID="Masukkan Client ID dari console.cloud.google.com"
GOOGLE_CLIENT_SECRET="Masukkan Client Secret"
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

# untuk API key chat bot, bisa didapatkan di https://aistudio.google.com/api-keys
GEMINI_API_KEY="Masukkan API GEMINI Studio"

## untuk rendering data dari google drive, API key bisa didapatkan di https://console.cloud.google.com/apis/credentials (enable Google Drive API)
GOOGLE_DRIVE_API_KEY="Masukkan API Key dari console.cloud.google.com (enable Google Drive API)"
